name: TestDrission

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  #schedule:
   # - cron: '0 */3 * * *'  # Run every 6 hours
  workflow_dispatch:      # Enable manual triggering



jobs:
  generate_m3u8:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          sudo apt-get install -y chromium-browser
          python -m pip install --upgrade pip
          pip install DrissionPage

      - name: Create txt Folder
        run: mkdir -p txt       

      - name: Run Python Script testdrission
        run: |
         python_output=$(python py/testdrission.py)
         echo "$python_output" > txt/testdrission.txt

      
      - name: Pull changes from remote
        run: git pull origin main         

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update token"
          branch: main
          files: |
            txt/testdrission.txt
        env:
          GITHUB_TOKEN: ${{ secrets.ROTANA_TOKEN }}
